*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body
{
    background-color:#400f08;
    color:white;
}
.container
{
    width:98%;
    margin: auto;
}
fieldset
{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    border:none;
}
legend
{
    margin: 0px;
    font-size: 16px;
    color:rgba(255,255,255,0.2);
}
ul
{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
}
li
{
    display: block;
    padding:30px;
    width: 90px;
    height: 90px;
    font-size: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin: 10px;
    animation-name:chay;
    animation-duration:5s;
    animation-timing-function: linear;
    animation-iteration-count:infinite;
    animation-direction: alternate-reverse;
}
@keyframes chay
{
    from {filter:drop-shadow(0 0 0px white);} to {filter:drop-shadow(0 0 7px white);}
}
.container fieldset:nth-child(3) ul li:nth-child(3)
{
    width:3px;
    font-size: 16px;
}
.control
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.control button
{
    padding:20px 30px;
    background-color: rgba(100,100,100,0.8);
    border-radius: 8px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 30px;
    margin: 10px;
    width:180px;
    transition: 0.2s;
}
button:hover
{
    background-color: white;
}
h1
{
    text-align: center;
    margin-top:10px;
}
img
{
    width:300px;
    filter: invert(100%) grayscale(100%)
}
#cp
{
    font-size: 10px;
    color:rgba(255,255,255,0.1);
    text-align: center;
}
@media screen and (max-width:600px)
{
    .container
    {
        width:99%;
        margin: auto;
    }
    fieldset
    {
        flex-wrap:wrap;
        margin:5px 0;
        width: 100%;
        padding:5px;
    }
    ul, p
    {
        width:100%;
        text-align: center;
        margin: 0;
        justify-content: center;
    }
    .container fieldset:nth-child(3)>p
    {
        display: none;
    }
    ul
    {
        margin:7px 0;
    }
    li
    {
        font-size: 30px;
        padding:5px;
        margin:0 7px;
        width:60px;
        height: 60px;
    }
    button
    {
        width:60%;
    }
    img
    {
        width:40%;
    }
}